/* 1rem = 1em = 16px */

/* BELOW 1920px */
@media (max-width: 120em) {
  html {
    /* 12px */
    font-size: 75%;
  }
}

/* BELOW 1680px */
@media (max-width: 105em) {
  html {
    /* 10px */
    font-size: 62.5%;
  }
}

/* BELOW 1392px */
@media (max-width: 87em) {
  html {
    /* 9px */
    font-size: 56.25%;
  }
}

/* BELOW 1248px */
@media (max-width: 78em) {
  html {
    /* 8px */
    font-size: 50%;
  }

  .movie {
    max-width: 20rem;
  }
}

/* BELOW 1104px */
@media (max-width: 69em) {
  .navigation-container {
    display: none;
  }

  .logo-header {
    display: flex;
    margin: 0 4rem 0 2rem;
  }

  .hero-section {
    align-items: center;
  }

  .movies-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20rem;
  }

  .movies-section h1 {
    align-self: baseline;
    margin-left: 14rem;
  }

  .header {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
  }

  .burger-menu {
    display: flex;
    align-items: center;
    background-color: var(--black);
  }

  .burger-menu img {
    width: 5rem;
  }

  .search-container {
    flex-direction: row;
    gap: 10rem;
  }
}

/* BELOW 896px */
@media (max-width: 56em) {
  .header {
    margin: 6rem 0;
  }

  .movies-section {
    margin: 6rem;
  }

  .top-rated {
    margin: 10rem 6rem 4rem 6rem;
  }
}

/* BELOW 720px */
@media (max-width: 45em) {
  .movies,
  .top-rated-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  footer {
    margin: 7rem;
  }
}

/* BELOW 592px */
@media (max-width: 37em) {
  html {
    /* 7px */
    font-size: 43.7%;
  }

  .hero {
    max-width: 90%;
  }

  .carousel-img {
    min-width: 2rem;
    max-width: 90%;
    max-height: 50rem;
  }

  .btn-yellow,
  .btn-white {
    padding: 1.4rem;
  }

  .movies,
  .top-rated-list {
    display: flex;
    flex-direction: column;
  }

  .movies-section,
  .top-rated {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* BELOW 480px */
@media (max-width: 30em) {
  .categories ul,
  .carousel-dots {
    display: none;
  }

  .burger-menu {
    margin: 0 4rem;
  }

  .search-container {
    gap: 5rem;
  }

  .carousel-img {
    max-width: 100%;
  }
}
